#middle-left-align{
    text-align: left;
    padding-left: 28%;
}

#tab{
    padding-left: 50px;
}

#double-tab{
    margin-left: 100px;
}

.left-align{
    text-align: left;
}

.font-smaller{
    font-size: .50em;
}

#font-small{
    font-size: .8em;
}

.font-medium{
    font-size: 1em;
}

.font-large{
    font-size: 1.5em;
}

#structure-image{
    height: 550px;
    width: auto;
}

.orange{
    color: orange;
}
